3.4.1-1.4-desktop-develfiles.list
3.4.1-1.4-desktop-output-develfiles.list
3.4.1-1.4-desktop-x86_32-defconfig
3.4.1-1.4-desktop-x86_64-defconfig
3.4.1-1.4-desktop-x86-develfiles.list
kernel-desktop-3.4.1-1.1.tar.bz2
